
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #04265ae5;
}

h3 {
  color: #04265ae5;
}
h4 {
  color: #04265ae5;
  padding-left: 20px;
}

pre{
  margin-left: 20px;
  background-color: #f2f2f2;
  padding: 15px;
}
p {
    line-height: 1.6;
    font-size: 14px;
}

img {
    max-width: 60%;
    height: auto;
    padding-left: 20px;
    border: 2px solid #f6fafa;
    padding: 10px;
    
    
}

li {
  line-height: 1.6;
  font-size: 13px;
}
/* .ul-indent{
    list-style-position : inside
} */

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}
.in{
    text-indent: 20px; 
}
.in1{
    text-indent: 50px; 
}   
.in2{
    text-indent: 50px; 
}        
.board{
    font-weight:bold;
}


.button-box {

    padding: 10px;
    margin: 10px;
    cursor: pointer;
}    
.button-container {
    /* display: flex; */
    justify-content: space-around;
    margin-top: 10px;
    /* margin-bottom: 20px; */

}

.button-box {

    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;   

}

.button-box:hover {
    background-color: #f2f2f2;
}   
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(112, 100, 212, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  /* 3 */
  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(6, 62, 248, 0.801) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    margin-bottom: 3px;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
/* 13 */
.btn-13 {
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: #fff;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }
  
  
/* 15 */
.btn-15 {
    background: rgba(2,126,251,1);
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #8447be;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  
/*  */
table {
    border: 1px #f1f1f0 solid;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 60%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  th {
    text-align: center;
  }
    
  thead {
    font-weight: bold;
    color: #fff;
    background: #5f5d73;
  }
    
   td, th {
    padding: 5px 5px;
    vertical-align: middle;
  }
    
   td {
    border-bottom: 1px solid rgba(138, 84, 84, 0.1);
    background: #fff;
  }

  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  .two h1 {
    text-transform: capitalize;
  }
  .two h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #c50000;
  }
  
  .two h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
  }
  .alt-two h1 {
    text-align:center;
  }
  .alt-two h1:before {
    left:50%; margin-left:-30px;
  }
  